/* Font family import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Variables */

:root {
    /* Color variables */

    --primaryColor: #8d62f1;
    --secondaryColor: #C6F162;

    --lightPrimaryColor: #c1aaf8;
    --lightSecondaryColor: #d9fa8b;

    --backgroundColor: #02061c;
    --lightBackgroundColor: #121726;

    --textDefaultColor: white;

    /* Size variables */
    --lowerSize: 14px;
    --defaultSize: 16px;
    --defaultHalfSize: 24px;
    --doubleDefaultSize: 32px;
    --doubleHalfSize: 40px;
    --tripleDefaultSize: 48px;

    /* Loader variables */
    --rotateSpeed: 30s;
    --bounceSpeed: 1.5s;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk",
        sans-serif;
}

/* General */

body {
    background-color: var(--backgroundColor);
    color: var(--textDefaultColor);
    scroll-behavior: smooth;
}

::selection {
    background: var(--primaryColor);
}


ul {
    list-style: none;
}

a {
    color: var(--textDefaultColor);
    text-decoration: none;
}

img {
    width: 100%;
}

/* Loader */

.loader {
    height: 100vh;
    width: 100vw;
    background-color: #02061c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    perspective: 10em;
    perspective-origin: 50% calc(50% - 2em);
    z-index: 99999999999999;
    position: fixed;
    animation: sceneDisapear 1s linear forwards 6s;
}

.loaderDisapear{
    animation-delay: 0s;
}

.loader button{
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -30%;
    background-color: #ff000080;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.loader button:hover, .loader button:active{
    background-color: lightcoral;
    transform: scale(1.2);
    color: black;
}

.loader .scene {
    position: relative;
    transform-style: preserve-3d;
    animation: sceneRotate var(--rotateSpeed) infinite linear;
}

.loader .ball {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    bottom: 1em;
    left: -0.5em;

    animation:
        ballBounce var(--bounceSpeed) infinite ease-out,
        sceneRotate var(--rotateSpeed) infinite linear reverse;
}

.ball img{
    filter: invert(70%);
    animation: sceneRotate 0.01s infinite reverse;
}

.loader .top .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#0007, #0000 50%);
    animation: ballShadow var(--bounceSpeed) infinite ease-out;
}

.loader .cube {
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: -1em;
    left: -1em;
    transform-style: preserve-3d;
    animation: boxMovingUpandDown var(--bounceSpeed) infinite linear;
}

.loader .left,
.loader .right,
.loader .front,
.loader .back {
    width: 100%;
    height: 100%;
    background-color: #8d62f180;
    position: absolute;
    box-shadow: 0 0 0.5em #000a inset;
}

.loader .front {
    transform: translateZ(1em);
}

.loader .right {
    transform: rotateY(90deg) translateZ(1em);
}

.loader .left {
    transform: rotateY(270deg) translateZ(1em);
}

.loader .back {
    transform: rotateY(180deg) translateZ(1em);
}

.loader .top {
    background-color: #8d62f180;
    box-shadow: 0 0 0.5em #000a inset;
    position: absolute;
    width: 2em;
    height: 2em;
    transform: translateY(-50%) rotateX(90deg);
}

.loader .bottom {
    background-color: #0007;
    box-shadow: 0 0 0.5em #000a;
    position: absolute;
    width: 2em;
    height: 2em;
    transform: translateY(50%) rotateX(-90deg);
}

.loader .floor {
    width: 15em;
    height: 15em;
    background-image:
        radial-gradient(#0000, #000 75%),
        repeating-conic-gradient(from 45deg, #02061c 0deg 90deg, #121726 90deg 180deg);
    background-size: 100%, 1em 1em;

    position: absolute;
    transform: translate(-50%, -50%) rotateX(90deg);
    top: 1em;
    transform-style: preserve-3d;
}


/* numbers */

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    animation:
        sceneRotate var(--rotateSpeed) infinite linear reverse;
}

.numbers p {
    position: absolute;
    opacity: 0;
    animation: appear 0.06s forwards;
    color: #C6F162;
}

/* HEADER */

header {
    background-color: var(--backgroundColor);
}

/* Main Header : Header qui apparait sur toutes les pages */

.mainHeader {
    height: 15vh;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 35% 15% 15%;
    border-bottom: 1px var(--lightBackgroundColor) solid;
}

.mainHeader h1 {
    text-align: center;
    font-size: var(--doubleHalfSize);
    color: var(--textDefaultColor);
}

header .logo,
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .socials,
header nav {
    border-left: 1px var(--lightBackgroundColor) solid;
}


/* HEADER Menu */

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--tripleDefaultSize);
}


header nav ul li a {
    font-size: var(--lowerSize);
}

header nav a {
    color: var(--textDefaultColor);
    transition: 0.1s ease-in;
    text-transform: uppercase;
    text-align: center;
}

header nav a:hover {
    color: var(--primaryColor);
}

.current {
    color: var(--primaryColor);
}

header nav ul li:nth-child(5) {
    display: none;
}

header .fa-bars {
    margin-left: 20px;
    display: none;
}

.menuLinkSocials {
    display: none;
}

/* Header : Socials */

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--doubleDefaultSize);
}

.socials i {
    font-size: var(--defaultHalfSize);
    transition: 0.1s ease;
}

.socials i:hover {
    font-weight: bold;
    transform: scale(0.8);
}

/* Header : Get In Touch */

header .getInTouch a {
    text-align: center;
    font-size: var(--defaultSize);
}

header .getInTouch a:nth-child(2) {
    animation: contactIcon 2s linear alternate infinite;
    display: none;
    color: red;
}

header .getInTouch a:hover {
    font-weight: bold;
}

header .getInTouch {
    border-left: 1px var(--lightBackgroundColor) solid;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .getInTouch i {
    font-size: var(--doubleDefaultSize);
    color: white;
}

header .getInTouch .fa-xmark {
    display: none;
}

/* Second Header : Apparait seulement dans la page > Career */

.headerCareer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 5vh;
    width: 70%;
    background-color: var(--secondaryColor);
    margin-top: 5px;
}

.headerCareer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.headerCareer ul li a {
    color: var(--backgroundColor);
    font-size: var(--defaultHalfSize);
}

.headerCareer ul li a:hover {
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 15%;
    right: 15%;
    height: 10vh;
    margin-top: 0;
}

/* Contact Form */

.box_container {
    position: fixed;
    top: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: fixed;
}

.boxContact {
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 8px;
    overflow: hidden;
    border: 3px #C6F16280 solid;
}

.boxContact::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, var(--lightSecondaryColor), var(--secondaryColor));
    transform-origin: bottom right;
    animation: contactRotate 6s linear infinite;
}

.boxContact::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, var(--lightSecondaryColor), var(--secondaryColor));
    transform-origin: bottom right;
    animation: contactRotate2 6s linear infinite;
}

.boxContact form {
    position: absolute;
    z-index: 8;
    inset: 3px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    background-color: var(--backgroundColor);
}

form h2 {
    color: var(--secondaryColor);
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: center;
}

.inputBox {
    position: relative;
    width: 300px;
    margin-top: 25px;
}

.inputBox input,
.inputBox textarea {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    border: none;
    outline: none;
    color: var(--lightBackgroundColor);
    background: transparent;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
    border-radius: 4px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 0px;
    font-size: 1em;
    color: lightgray;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.3s;
    z-index: 10;
    background: transparent;
}

.inputBox input:valid~span,
.inputBox input:focus~span,
.inputBox textarea:valid~span,
.inputBox textarea:focus~span {
    color: var(--lightSecondaryColor);
    font-weight: bold;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}


.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--lightSecondaryColor);
    border-radius: 4px;
    transition: 0.3s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 44px;
}

.inputBox textarea:valid~i,
.inputBox textarea:focus~i {
    height: 64px;
}


.formBtn {
    margin-top: 20px;
    width: 100px;
    font-size: 1em;
    border: none;
    background-color: var(--lightSecondaryColor);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    color: var(--backgroundColor);
    font-weight: bold;
}


.formBtn:active {
    opacity: 0.8;
}


.exitBtn {
    width: fit-content;
    padding: 5px;
    font-size: 1.5em;
    border: none;
    position: absolute;
    background: transparent;
    top: 15px;
    left: 15px;
    z-index: 10;
    cursor: pointer;
    color: white;
}

.exitBtn i {
    background: transparent;
}

.appear {
    display: flex;
    backdrop-filter: blur(8px);
}


/* WORKS */

.bodyWorks {
    height: 100vh;
}

/* Main */

.mainWorks {
    height: 85vh;
}

.mainWorks .section_work {
    display: grid;
    height: 100%;
    background-color: var(--backgroundColor);
    grid-template-columns: 70% 30%;
    grid-template-rows: 80% 20%;
}

/* Works : Container */

.containerWorksProjects{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
}
/* Works : Image */

.section_work .work_image img {
    height: 100%;
    object-fit: cover;
}

.section_work .work_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow: hidden;
    height: 100%;
}

/* Works : Cube */

.section_work .cube {
    position: relative;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cubeRotate 4s linear infinite;
    transition: 0.2s ease;
}

.section_work .cube:hover {
    animation-play-state: paused;
}

.section_work .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.section_work .cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--lightBackgroundColor), var(--secondaryColor));
    transform: rotateY(calc(90deg * var(--i))) translateZ(125px);
    /* 250 / 2 = 150 */
}

.section_work .cube .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background: var(--lightPrimaryColor);
    background: radial-gradient(circle, rgba(141, 98, 241, 1) 49%, rgba(18, 23, 38, 1) 100%);
    transform: rotateX(90deg) translateZ(125px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.workAlternateSection .cube .top{
    background: rgb(198, 241, 98);
    background: radial-gradient(circle, rgba(198, 241, 98, 1) 49%, rgba(18, 23, 38, 1) 100%);
}

.section_work .cube .top h2{
    text-align: center;
}
.workAlternateSection .cube .top h2{
    color: var(--backgroundColor);
}


.section_work .top::before {
    background-color: var(--primaryColor);
    box-shadow: 0 0 120px rgba(141, 98, 241, 0.1);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    transform: translateZ(-300px);
    filter: blur(20px);
}

.workAlternateSection .top::before {
    background-color: #C6F162;
    box-shadow: 0 0 120px rgba(198, 241, 98, 0.1);
}

/* Works : Titre + Describtion du travail + Tags */

.work_description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--textDefaultColor);
    height: fit-content;
    height: 100%;
    justify-content: center;
    width: 50%;
}

.work_description h2 {
    color: var(--lightPrimaryColor);
    font-size: var(--doubleDefaultSize);
}

.workAlternateSection .work_description h2{
    color: var(--secondaryColor);
    font-size: var(--doubleDefaultSize);
}

.work_description p {
    font-size: var(--defaultSize);
    text-align: justify;
}

.work_description_btns {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.work_description_btns span {
    padding: 5px 13px;
    background-color: var(--primaryColor);
    color: white;
    border: white 1px solid;
    border-radius: 17px;
    font-size: var(--defaultSize);
    height: fit-content;
    white-space: nowrap;
}

.workAlternateSection .work_description_btns span{
    background-color: var(--secondaryColor);
    color: var(--backgroundColor);
}

.work_description_btns span:hover {
    opacity: 0.8;
    cursor: default;
}

/* Work : Lien Vers Site/Projet */

.work_titleOfWork {
    padding: 0 80px;
    border: 1px var(--lightBackgroundColor) solid;
}

.containerWorksLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: 0.2s ease;
}

.work_titleOfWork:hover .containerWorksLink {
    transform: scale(1.1);
}

.work_titleOfWork a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.visiblePart h2 {
    font-size: var(--doubleHalfSize);
    text-decoration: underline;
    background: linear-gradient(to right, #ffffff 0%, var(--primaryColor) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.workAlternateSection .visiblePart h2{
    background: linear-gradient(to right, #ffffff 0%, var(--secondaryColor) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.work_titleOfWork .img {
    margin-left: 50px;
}

.work_titleOfWork .img i {
    font-size: 44px;
    animation: arrowRotate 3s alternate infinite;
    background: linear-gradient(to right, #ffffff 0%, var(--primaryColor) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.workAlternateSection .work_titleOfWork .img i{
    background: linear-gradient(to right, #ffffff 0%, var(--secondaryColor) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Work : Buttons slide */

.work_buttons {
    display: flex;
    border-top: 1px var(--lightBackgroundColor) solid;
    justify-content: center;
}

.work_buttons div {
    z-index: 999;
}

.work_buttons i {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    color: var(--textDefaultColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--tripleDefaultSize);
}

.borderButtons{
    width: 2px;
    height: 100%;
    background-color: var(--lightBackgroundColor);
}


.work_buttons i:hover {
    opacity: 1;
}

.work_buttons i:active {
    opacity: 0.7;
}


/* Slider */

.swiper-wrapper {
    display: flex;
}

.swiper,
.swiper-wrapper,
.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 50% !important;
    height: 100% !important;
    margin: 0 !important;
    color: transparent !important;
    justify-content: space-between !important;
    overflow: hidden !important;
    margin: 0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none !important;
}
/* Pages > Home  */

main {
    height: 100%;
}

.videoAyoub {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.videoAyoub iframe{
    width:700px; 
    height: 400px;
    border: none;
}


/* PAGE : CAREER */


video {
    width: 100%;
}

.container_career {
    width: 70%;
    margin: auto;
    padding: 0;
    border-radius: 0;
    background-color: var(--lightBackgroundColor);
    padding: 40px 20px;
}

.container_career h1 {
    text-align: center;
    font-family: "Space Grotesk",
        sans-serif;
}

/* Career sections */

.career_section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}

.anchor {
    height: 10vh;
    width: 100%;
    padding: 0;
    margin: -10px;
    display: flex;
    align-items: center;
}

.anchor hr {
    width: 100%;
}

.career_section_text {
    width: 60%;
}

.career_section_image {
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.career_section_image img {
    width: 100%;
}

.career_section_image button {
    position: absolute;
    padding: 13px 20px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #22222280;
    color: white;
    width: 100%;
}

.career_section_text h2 {
    margin: 20px 0;
    color: var(--secondaryColor);
}

.career_section_text ul {
    list-style: square;
    margin-left: 20px;
    margin-top: 15px;
}

.career_section_text ul li {
    margin-bottom: 10px;
}

.career_section_text p {
    text-align: justify;
}

.myOpinion {
    margin-top: 20px;
    font-style: italic;
}

/* Arrow Up */

.arrowUp {
    position: fixed;
    bottom: 10%;
    right: 7.5%;
    background-color: var(--lightBackgroundColor);
    border: black solid 1px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    opacity: 0;
    color: var(--textDefaultColor);
}

.arrowUp:hover {
    background-color: #12172680;
    cursor: pointer;
}

.arrowUp:hover i {
    color: var(--lightPrimaryColor);
}

.arrowUp i {
    font-size: 1.5em;
}


/* Classes JavScript */


.blurry {
    filter: blur(10px);
}

.appear {
    opacity: 1;
    transition: 1s ease;
}

.navBarGrows {
    display: flex;
}

/* Page : Resume */

/* Resume General */

.resumeBody {
    background: rgb(104, 73, 176);
    background: radial-gradient(circle, rgba(127, 88, 219, 1) 29%, rgba(3, 6, 28, 1) 100%);
}

.resumeBody header {
    background: transparent;
}

.main_Resume {
    padding-bottom: 20px;

}

.main_container {
    width: 90%;
    background-color: #b1a187;
    border-radius: 5px;
    padding: 20px 40px;
    margin: auto;
    background: transparent;
}

.ResumeTitleNone {
    display: none;
}

/* Resume : Title */

.resume_title {
    display: flex;
    gap: 30px;
}

.resume_title .title_picture {
    width: 25%;
    margin-left: 20px;
    min-width: 200px;
}

.resume_title .title_texte {
    width: 70%;
    align-self: center;
}

.resume_title img {
    width: 100%;
}

/* Resume : Different Sections */

.resume_sections {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

.resume_texte h2 {
    font-size: 27px;
    margin-bottom: 20px;
    color: var(--secondaryColor);
}

.left_column {
    width: 25%;
    border-right: white 1px dotted;
}

.right_column {
    width: 70%;
}

.left_column,
.right_column {
    display: flex;
    flex-direction: column;
    gap: 70px;
    height: fit-content;
}

/* Personal info */

.small_section_resume i {
    color: var(--secondaryColor);
    padding: 5px;
    border-radius: 50%;
}

.small_section_resume h2 {
    box-shadow: 0px 1.5px 0px var(--secondaryColor)80;
    margin-bottom: 15px;
    padding-bottom: 5px;
    color: var(--secondaryColor);
}

.small_section_resume p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.small_section_resume li {
    margin-bottom: 10px;
}

.small_section_resume a {
    margin-bottom: 10px;
    font-style: italic;
    color: #d5cec3;
}

.small_section_resume a:hover {
    text-decoration: underline;
    font-weight: bold;
}


.languagesSection p {
    margin-left: 10px;
    font-style: italic;
}


/* Right Column EXPERIENCE */

.experience h4 {
    text-decoration: underline;
    margin: 5px;
}

.experience ul {
    list-style: circle;
    margin-left: 20px;
}

.experience ul {
    margin-bottom: 30px;
}

.experience a {
    color: var(--secondaryColor);
    opacity: 0.8;
}

.experience a:hover {
    opacity: 1;
}

.experience .linkMoreWorks {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondaryColor)90;
    font-weight: bold;
    transition: 0.1s ease-in;
    border: 1px solid #222;
    color: white;
}

.experience .linkMoreWorks:hover {
    background-color: var(--secondaryColor);
    cursor: pointer;
    color: #222;
    text-decoration: none;
    box-shadow: 0 1px 15px rgb(90, 90, 90);
}

/* Right Column EDUCATION */


.education .courserwork {
    font-weight: bold;
    margin-top: 40px;
}

.education ul {
    list-style: circle;
    margin-left: 30px;
}


/* Certificates */

.certifcates li {
    display: flex;
    align-items: center;
}

.certifcates a {
    display: flex;
    align-items: center;
    width: 100%;
    font-style: normal;
}

.certifcates a img {
    width: 30px;
    transition: 0.1s ease;
}

.certifcates a:hover {
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.certifcates a:hover img {
    transform: scale(1.5);
}

.certifcates a p {
    transition: 0.1s ease;
}

.certifcates a:hover p {
    color: var(--textDefaultColor);
}

/* FOOTER */

footer {
    background-color: var(--backgroundColor);
    border-top: var(--lightBackgroundColor) solid 1px;
}

.footer_container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer_container ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_container ul li:nth-child(2) {
    text-decoration: underline;
}

.footer_container ul li:nth-child(2) a:hover,
.footer_container ul li:nth-child(3) a:hover {
    text-decoration: underline;
    color: var(--primaryColor);
}

.footer_container a {
    transition: 0.2s ease;
}

.logoHtmlValidator img{
    width: 100px;
}

.footerHomePage {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}


/**************************** RESPONSIF *******************************/

/*  RESPONSIF : Header  */

/* 2210 px */

@media (width>= 2210px) {
    header nav ul li a, header .getInTouch a {
    font-size: var(--defaultHalfSize);
    }
}
/* 1016px */

@media(max-width:1016px) {
    header nav ul {
        gap: var(--defaultHalfSize);
    }

    .socials {
        gap: var(--defaultHalfSize);
    }
}

/* 768px */

@media (max-width:768px) {

    /* Main Header  */

    .mainHeader {
        display: flex;
        border-bottom: 1px #121726 solid;
        padding: 20px;
        align-items: center;
        justify-content: space-around;
    }

    .mainHeader h1 {
        font-size: var(--doubleDefaultSize);
    }

    /* Get In Touch */

    header .getInTouch a:nth-child(2) {
        display: initial;
    }

    header .getInTouch a:nth-child(1) {
        display: none;
    }

    /* Menu */
    header nav {
        position: absolute;
        justify-content: center;
        align-items: flex-start;
        background-color: #121726;
        z-index: 6;
        width: 100%;
        top: 15vh;
        display: none;
        right: 0;
        overflow: hidden;
        transition: 0.2s ease-out;
        opacity: 0.99;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        position: relative;
        gap: 0;
    }

    header nav ul li {
        width: 100%;
        border-bottom: 2px solid #02061c;
        height: 14.2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    header nav ul li a {
        font-size: var(--defaultHalfSize);
    }

    header .current {
        color: white;
        font-weight: bold;
    }

    header nav ul li:nth-child(5) {
        display: flex;
    }

    .menuLinkSocials {
        display: flex;
        justify-content: space-evenly;
    }

    .menuLinkSocials a {
        width: 33%;
    }

    .menuLinkSocials i {
        font-size: var(--doubleDefaultSize);
    }

    header .getInTouch {
        position: relative;
    }

    header .getInTouch .fa-xmark {
        display: initial;
        position: absolute;
        opacity: 0;
        margin-left: 30px;
    }

    header .fa-bars {
        display: initial;
    }

    header .getInTouch .disapear {
        opacity: 0;
    }

    header .getInTouch .menuBtnAppear {
        opacity: 1;
    }

    /* Before inside NavBar for the animation */

    header nav li::before {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        background: linear-gradient(to right,
                transparent,
                #C6F162);
    }

    /* Animation color changes */
    header nav li:nth-child(1)::before {
        animation: spanMovingColor 3s ease;
    }

    header nav li:nth-child(2)::before {
        animation: spanMovingColor 3s ease 0.2s;
    }

    header nav li:nth-child(3)::before {
        animation: spanMovingColor 3s ease 0.4s;
    }

    header nav li:nth-child(4)::before {
        animation: spanMovingColor 3s ease 0.6s;
    }

    header nav li:nth-child(5)::before {
        animation: spanMovingColor 3s ease 0.8s;
    }

    header nav li:nth-child(6)::before {
        animation: spanMovingColor 3s ease 1s;
    }

    header nav .active::after {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        background: linear-gradient(to right,
                transparent,
                #C6F162);
        animation: spanMovingColorActive 3s ease 0.4s forwards;
    }

    /* Animation link appear */
    header nav ul li a {
        opacity: 0;
    }

    header nav li:nth-child(1) a {
        animation: linkAppear 1s ease 0.6s forwards;
    }

    header nav li:nth-child(2) a {
        animation: linkAppear 1s ease 0.8s forwards;
    }

    header nav li:nth-child(3) a {
        animation: linkAppear 1s ease 1s forwards;
    }

    header nav li:nth-child(4) a {
        animation: linkAppear 1s ease 1.2s forwards;
    }

    header nav li:nth-child(5) a {
        animation: linkAppear 1s ease 1.4s forwards;
    }

    header nav li:nth-child(6) a {
        animation: linkAppear 1s ease 1.6s forwards;
    }

    /* Get In Touch */
    header .getInTouch {
        padding: 10px;
        border-left: none;
        width: 10px;
        height: 10px;
        color: white;
    }

    header .getInTouch i {
        font-size: var(--doubleDefaultSize);
    }

    header .socials {
        display: none;
    }
}


/* RESPONSIF : Page > Resume */

@media (max-width:1069px) {

    /* Partie image + description */
    .resume_title {
        display: flex;
        gap: 50px;
    }

    .resume_title .title_picture {}

    /* Sections */
    .resume_sections {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .left_column {
        width: 100%;
        border-bottom: white 1px dotted;
        border-right: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 30px;
    }

    .left_column h2 {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;
    }

    .left_column .languagesSection p {
        margin-left: 0;
        opacity: 0.8;
    }

    .right_column {
        width: 100%;
    }
}

@media (max-width:768px) {

    /* Partie image + description */
    .resume_title {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .resume_title .title_texte {
        width: 100%;
    }

    .resume_title .title_texte h1 {
        text-align: center;
    }


    /* Section */
    .left_column {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media (max-width:500px) {

    .main_container {
        padding: 20px;
        width: 100%;
    }

    /* Section */
    .left_column {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .left_column h2 {
        justify-content: center;
    }

    .left_column .small_section_resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left_column .small_section_resume ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left_column .small_section_resume li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left_column .small_section_resume li p {
        margin: 0;
        text-align: center;
    }
}

/*  RESPONSIF : Page > Works   */

/* >1440px */

@media(min-width:1440px) {

    /* Deux sections */

    .work_description h1 {
        font-size: var(--doubleHalfSize);
    }

    .work_description p {
        font-size: var(--defaultHalfSize);
    }

    .work_description_btns {
        height: 100px;
    }

    .work_description span {
        font-size: var(--defaultHalfSize);
    }
}

/* 768px */
@media(max-width:768px) {

    .mainWorks,
    .bodyWorks {
        height: 100%;
    }

    .mainWorks .section_work {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* Container */

    .containerWorksProjects {
        flex-direction: column;
        gap: 40px;
    }

    .section_work .work_image {
        height: 500px;
        width: 100%;
    }

    .section_work .work_description {
        width: 100%;
    }



    /* Description */

    .work_description {
        height: 100%;
    }


    .work_description p,
    .work_description span {
        font-size: var(--defaultHalfSize);
    }

    /* Link */

    .work_titleOfWork {
        height: fit-content;
        padding: 20px;
    }

    .visiblePart h2 {
        font-size: var(--doubleDefaultSize);
        text-align: center;
    }


    /* Buttons */

    .work_buttons {
        height: 100px;
    }

    .work_buttons img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .work_buttons .pageBtn {
        height: 100% !important;
        width: 50% !important;
        margin: 0 !important;
    }
}


/* 425px */

@media(max-width:425px) {

    .section_work .cube {
        width: 200px;
        height: 200px;
    }

    .section_work .cube div span {
        transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    }

    .section_work .cube .top {
        width: 200px;
        height: 200px;
        transform: rotateX(90deg) translateZ(100px);
    }

    .section_work .top::before {
        width: 200px;
        height: 200px;
        transform: translateZ(-250px);
    }

    .work_buttons {
        order: 1;
        border-bottom: 1px solid var(--lightBackgroundColor);
    }

    .work_titleOfWork {
        order: 3;
    }

    .containerWorksProjects {
        order: 2;
    }
}

/* RESPONSIF : Footer */

@media (max-width:768px) {
    footer {}


    .footer_container ul {
        flex-direction: column;
        gap: 20px;
    }

    .footer_container ul a {
        font-size: var(--defaultSize);
    }
}

/*  RESPONSIF : Page > Career   */

@media(max-width:768px) {

    /* Header */

    .headerCareer {
        width: 90%;
    }

    .sticky {
        left: 0;
        right: 0;
        width: 100%;
    }

    .headerCareer ul li a {
        font-size: var(--defaultSize);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /**/

    .mainFixed {}

    .container_career {
        width: 90%;
    }

    .career_section_text {
        width: 100%;
    }

    .career_section_image {
        width: 100%;
    }
}

@media(max-width:400px) {
    .headerCareer ul {
        gap: 15px;
    }
}

/* RESPONSIF : Page > Home */

@media(max-width:550px) {
    .footerHomePage {
        position: relative;
    }
}


/* RESPONSIF : Contact Form && Video Home Page */

@media(max-width: 412px) {

    /* Contact Form */
    .boxContact {
        width: 350px;
        height: 390px;
    }

    .boxContact::before {
        width: 350px;
        height: 390px;
    }

    .boxContact::after {
        width: 350px;
        height: 390px;
    }

    .inputBox {
        width: 270px;
    }

    .boxContact form {
        padding: 20px 30px;
    }

    /* Video Home Page */
    .videoAyoub iframe {
        width: 350px;
        height: 285px;
    }
}

/* RESPONSIF 4K screen*/

@media (width>=1760px) {
    :root {
         /* Size variables */
    --lowerSize: 18px;
    --defaultSize: 24px;
    --defaultHalfSize: 32px;
    --doubleDefaultSize: 48px;
    --doubleHalfSize: 66px;
    --tripleDefaultSize: 80px;
    }
    


    /** Loader animation **/
    .loader button{
    width: fit-content;
    font-size: var(--doubleDefaultSize);
    bottom: -20%;
}
    /** Contact **/

.boxContact {
    width: 800px;
    height: 890px;
}

.boxContact::before {
    width: 800px;
    height: 890px;
}

.boxContact::after {
    width: 800px;
    height: 890px;
}

.boxContact form {
    gap: 50px;
    justify-content: center;
}

form h2 {
    color: var(--secondaryColor);
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: center;
    font-size: var(--doubleDefaultSize);
}

.inputBox {
    position: relative;
    width: 700px;
    margin-top: 25px;
}

.inputBox input,
.inputBox textarea {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    border: none;
    outline: none;
    color: var(--lightBackgroundColor);
    background: transparent;
    font-size: var(--defaultHalfSize);
    letter-spacing: 0.05em;
    z-index: 10;
    border-radius: 4px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 0px;
    font-size: var(--defaultHalfSize);
    color: lightgray;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.3s;
    z-index: 10;
    background: transparent;
}

.inputBox input:valid~span,
.inputBox input:focus~span,
.inputBox textarea:valid~span,
.inputBox textarea:focus~span {
    color: var(--lightSecondaryColor);
    font-weight: bold;
    transform: translateX(-10px) translateY(-54px);
    font-size: var(--lowerSize);
}


.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--lightSecondaryColor);
    border-radius: 4px;
    transition: 0.3s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 64px;
}

.inputBox textarea:valid~i,
.inputBox textarea:focus~i {
    height: 120px;
}


.formBtn {
    margin-top: 20px;
    width: 300px;
    font-size: var(--defaultHalfSize);
}


.exitBtn {
    font-size: var(--doubleDefaultSize);
    top: 25px;
    left: 25px;
}


    /** Header **/
    header nav ul {
    justify-content: space-around;
    gap: 0px;
    width: 100%;
    }

    /* Socials Header */
    .socials {
    justify-content: space-around;
    gap: 0px;
    }  
    .socials i {
    font-size: var(--doubleDefaultSize);
    }


    /* WORKS */

    .bodyWorks {
        height: 100%;
    }
    .mainWorks {
        height: 100%;
    }

    .mainWorks .section_work{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .containerWorksProjects{
        flex-direction: column;
        order: 2;
    }
    .work_titleOfWork{
        order: 3;
        border-bottom: none;
        padding: 40px;
    }

    .visiblePart h2, .fa-arrow-right:before{
        font-size: var(--tripleDefaultSize);
    }

    .work_buttons{
        order: 1;
        border-bottom: #121726 solid 2px;
    }

    .borderButtons {
    width: 5px;
    height: 80px;
    }

    /* CUBE */
    .section_work .work_image{
    width: 100%;
    height: 2000px;
    overflow: visible;
    order: 2;
    }

    .section_work .cube {
    width: 800px;
    height: 800px;
    }

    .section_work .cube div span {
    transform: rotateY(calc(90deg * var(--i))) translateZ(400px);
    }

    .section_work .cube .top {
    width: 800px;
    height: 800px;
    transform: rotateX(90deg) translateZ(400px);
    }

    .workAlternateSection .cube .top h2{
        font-size: var(--tripleDefaultSize);
    }
    .section_work .top::before {
    width: 800px;
    height: 800px;
    transform: translateZ(-1100px);
    }

    /* Work description */
    .work_description{
        width: 100%;
        order: 1;
        padding: 80px 160px;
    }

    .work_description h2, .workAlternateSection .work_description h2 {
    font-size: var(--tripleDefaultSize);
    }

    .work_description p{
        font-size: var(--doubleDefaultSize);
    }

    /* Link Tags */
    .work_description_btns {
        height: fit-content;
        margin-top: 30px;
    }

    .work_description span {
        font-size: var(--doubleDefaultSize);
    }

/** Pages > Career **/
.headerCareer {
    height: 100px;
    width: 70%;
}

.headerCareer ul {
    gap: 150px;
}

.headerCareer ul li a {
    font-size: var(--doubleDefaultSize);
}

.sticky {
    height: 100px;
}

.container_career {
    width: 70%;
    margin: auto;
    border-radius: 0;
    background-color: var(--lightBackgroundColor);
    padding: 40px 20px;
}

.container_career h1 {
    font-size: var(--doubleHalfSize);
}

.anchor {
    height: 100px;
}

.career_section_text {
    width: 90%;
}

.career_section_image {
    width: 90%;
}

.career_section_image button {
    font-size: var(--doubleDefaultSize);
}

.career_section_text h2 {
    font-size: var(--doubleDefaultSize);
}

.career_section_text ul {
    margin-bottom: 80px;
}

.career_section_text ul li {
    margin-bottom: 20px;
}

.career_section_text p, .career_section_text h3, .career_section_text li{
    font-size: var(--defaultHalfSize);
}

.myOpinion {
    margin: 60px 0px;
}

.arrowUp i {
    font-size: var(--doubleDefaultSize);
}

.arrowUp{
    height: 100px;
    width: 100px;
}

/** Footer **/
.footer_container a {
    font-size: var(--defaultHalfSize);
}

/** Pages > Resume **/
.main_container h2{
    font-size: var(--doubleDefaultSize);
}

.resume_title h2{
    font-size: var(--doubleHalfSize);
}

.main_container p, .main_container a, .main_container li, .main_container h4{
    font-size: var(--defaultSize);
}

.main_container h3{
    font-size: var(--defaultHalfSize);
}
}