:root {
    /* Color variables */

    --primaryColor: #8d62f1;
    --secondaryColor: #C6F162;

    --lightPrimaryColor: #c1aaf8;
    --lightSecondaryColor: #d9fa8b;

    --backgroundColor: #02061c;
    --lightBackgroundColor: #121726;

    --textDefaultColor: white;

    /* Size variables */
    --lowerSize: 14px;
    --defaultSize: 16px;
    --defaultHalfSize: 24px;
    --doubleDefaultSize: 32px;
    --doubleHalfSize: 40px;
    --tripleDefaultSize: 48px;
}

/*  RESPONSIF : Header  */

/* 1016px */

@media(max-width:1016px) {
    header nav ul {
        gap: var(--defaultHalfSize);
    }

    .socials {
        gap: var(--defaultHalfSize);
    }
}

/* 768px */

@media (max-width:768px) {

    /* Main Header  */

    .mainHeader {
        display: flex;
        border-bottom: 1px #121726 solid;
        padding: 20px;
        align-items: center;
        justify-content: space-around;
    }

    .mainHeader h1 {
        font-size: var(--doubleDefaultSize);
    }

    /* Get In Touch */

    header .getInTouch a:nth-child(2) {
        display: initial;
    }

    header .getInTouch a:nth-child(1) {
        display: none;
    }

    /* Menu */
    header nav {
        position: absolute;
        justify-content: center;
        align-items: flex-start;
        background-color: #121726;
        z-index: 6;
        width: 100%;
        top: 15vh;
        display: none;
        right: 0;
        overflow: hidden;
        transition: 0.2s ease-out;
        opacity: 0.99;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        position: relative;
        gap: 0;
    }

    header nav ul li {
        width: 100%;
        border-bottom: 2px solid #02061c;
        height: 14.2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    header nav ul li a {
        font-size: var(--defaultHalfSize);
    }

    header .current {
        color: white;
        font-weight: bold;
    }

    header nav ul li:nth-child(5) {
        display: flex;
    }

    .menuLinkSocials {
        display: flex;
        justify-content: space-evenly;
    }

    .menuLinkSocials a {
        width: 33%;
    }

    .menuLinkSocials i {
        font-size: var(--doubleDefaultSize);
    }

    header .getInTouch {
        position: relative;
    }

    header .getInTouch .fa-xmark {
        display: initial;
        position: absolute;
        opacity: 0;
        margin-left: 30px;
    }

    header .fa-bars {
        display: initial;
    }

    header .getInTouch .disapear {
        opacity: 0;
    }

    header .getInTouch .menuBtnAppear {
        opacity: 1;
    }

    /* Before inside NavBar for the animation */

    header nav li::before {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        background: linear-gradient(to right,
                transparent,
                #C6F162);
    }

    /* Animation color changes */
    header nav li:nth-child(1)::before {
        animation: spanMovingColor 3s ease;
    }

    header nav li:nth-child(2)::before {
        animation: spanMovingColor 3s ease 0.2s;
    }

    header nav li:nth-child(3)::before {
        animation: spanMovingColor 3s ease 0.4s;
    }

    header nav li:nth-child(4)::before {
        animation: spanMovingColor 3s ease 0.6s;
    }

    header nav li:nth-child(5)::before {
        animation: spanMovingColor 3s ease 0.8s;
    }

    header nav li:nth-child(6)::before {
        animation: spanMovingColor 3s ease 1s;
    }

    header nav .active::after {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        background: linear-gradient(to right,
                transparent,
                #C6F162);
        animation: spanMovingColorActive 3s ease 0.4s forwards;
    }

    /* Animation link appear */
    header nav ul li a {
        opacity: 0;
    }

    header nav li:nth-child(1) a {
        animation: linkAppear 1s ease 0.6s forwards;
    }

    header nav li:nth-child(2) a {
        animation: linkAppear 1s ease 0.8s forwards;
    }

    header nav li:nth-child(3) a {
        animation: linkAppear 1s ease 1s forwards;
    }

    header nav li:nth-child(4) a {
        animation: linkAppear 1s ease 1.2s forwards;
    }

    header nav li:nth-child(5) a {
        animation: linkAppear 1s ease 1.4s forwards;
    }

    header nav li:nth-child(6) a {
        animation: linkAppear 1s ease 1.6s forwards;
    }

    /* Get In Touch */
    header .getInTouch {
        padding: 10px;
        border-left: none;
        width: 10px;
        height: 10px;
        color: white;
    }

    header .getInTouch i {
        font-size: var(--doubleDefaultSize);
    }

    header .socials {
        display: none;
    }
}


/* RESPONSIF : Page > Resume */

@media (max-width:1069px){

    /* Partie image + description */
    .resume_title {
    display: flex;
    gap: 50px;
    }

    .resume_title .title_picture{
        
    }

    /* Sections */
    .resume_sections {
    display: flex;
    flex-direction: column;
    gap: 30px;
    }

    .left_column {
    width: 100%;
    border-bottom: white 1px dotted;
    border-right: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px;
    }

    .left_column h2{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;
    }

    .left_column .languagesSection p{
        margin-left: 0;
        opacity: 0.8;
    }

    .right_column {
    width: 100%; 
    }
}

@media (max-width:768px){

    /* Partie image + description */
        .resume_title {
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 20px;
        }
    
        .resume_title .title_texte {
            width: 100%;
        }

        .resume_title .title_texte h1{
            text-align: center;
        }


    /* Section */
    .left_column{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media (max-width:500px){

    .main_container{
        padding: 20px;
        width: 100%;
    }
    /* Section */
    .left_column{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .left_column h2{
        justify-content: center;
    }

    .left_column .small_section_resume{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .left_column .small_section_resume ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .left_column .small_section_resume li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .left_column .small_section_resume li p{
        margin: 0;
        text-align: center;
    }
}

/*  RESPONSIF : Page > Works   */

/* >1440px */

@media(min-width:1440px){
    .work_description h1 {
        font-size: var(--doubleHalfSize);
    }

    .work_description p {
        font-size: var(--defaultHalfSize);
    }
    
    .work_description_btns{
        overflow-y: scroll;
        height: 100px;
    }
    .work_description span {
        font-size: var(--defaultHalfSize);
        
    }
}

/* 768px */
@media(max-width:768px) {

    .mainWorks, .bodyWorks {
        height: 100%;
    }

    .mainWorks .section_work {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* Container */

    .containerWorksProjects{
        flex-direction: column;
        gap: 40px;
    }

    .section_work .work_image{
        height: 500px;
        width: 100%;
    }
    
    .section_work .work_description{
        width: 100%;
    }



    /* Description */

    .work_description{
        height: 100%;
    }


    .work_description p, .work_description span{
    font-size: var(--defaultHalfSize);
    }

    /* Link */

    .work_titleOfWork {
        height: fit-content;
        padding: 20px;
    }

    .visiblePart h2 {
        font-size: var(--doubleDefaultSize);
        text-align: center;
    }

    
    /* Buttons */

    .work_buttons {
        height: 100px;
    }

    .work_buttons img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .work_buttons .pageBtn{
        height: 100% !important;
        width: 50% !important;
        margin: 0 !important;
    }
}


/* 425px */

@media(max-width:425px) {

    .section_work .cube {
    width: 200px;
    height: 200px;
    }

    .section_work .cube div span {
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    }

    .section_work .cube .top {
        width: 200px;
        height: 200px;
        transform: rotateX(90deg) translateZ(100px);
        }
    
    .section_work .top::before {
        width: 200px;
        height: 200px;
        transform: translateZ(-250px);
    }

    .work_buttons{
        order: 1;
        border-bottom: 1px solid var(--lightBackgroundColor);
    }

    .work_titleOfWork{
        order: 3;
    }

    .containerWorksProjects{
        order: 2;
    }
}

/* RESPONSIF : Footer */

@media (max-width:768px){
    footer{}


    .footer_container ul{
        flex-direction: column;
        gap: 20px;
    }
    
    .footer_container ul a{
        font-size: var(--defaultSize);
    }
}

/*  RESPONSIF : Page > Career   */

@media(max-width:768px){

    /* Header */

    .headerCareer{
        width: 90%;
    }

    .sticky{
        left: 0;
        right: 0;
        width: 100%;
    }
    .headerCareer ul li a {
        font-size: var(--defaultSize);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /**/

    .mainFixed{
    }
    .container_career{
        width: 90%;
    }

    .career_section_text {
    width: 100%;
    }

    .career_section_image {
    width: 100%;
    }
}


/* Under */

@media(max-width:550px){
    .footerHomePage {
            position: relative;
        }
}
